body {
  font-family: Verdana, sans-serif;
  font-size: 16px;
  font-size: 1em;
  font-style: normal;
  font-weight: normal;
  line-height: 1.5;
  color: #888;
  background-color: #222;
  max-width: 850px;
  margin: 0 auto;
  padding-left: 10px;
  position: relative;
}
dl.graph:after{
  content:".";
  display: block;
  font-size:0;
  line-height:0;
  height:0;
  clear:both;
  overflow:hidden;
  }
dl.graph a{
  color: #fff;
  }
  dl.graph a:hover{
    color: #fff;
    text-decoration: none;
    }
dl.graph dt{
  width: 50%;
  float: left;
  clear: left;
  background-color: #E05A2B;
  border-radius: 10px;
  padding: 10px;
  color: #fff;
  box-shadow: 0 5px 0 0 #DD4814;
  font-size: 16px;
  line-height: 20px;
  }
  dl.graph dt:first-child{
    margin: 0 0 20px;
    }
dl.graph dd{
  float: left;
  clear: left;
  width: 50%;
  margin: 5px 0 0 100px;
  padding: 20px 0 80px 20px;
  border-left: 1px dotted #DD4814;
  position: relative;
  }
  dl.graph dd div{
    background-color: #843E64;
    border-radius: 10px;
    padding: 10px;
    color: #fff;
    box-shadow: 0 5px 0 0 #772953;
    font-size: 16px;
    line-height: 20px;
    }
    dl.graph dd:last-child{
      border-style: none;
      }
  dl.graph dd div + div{
    margin-top: 12px;
    }
